body { 
  padding-top: 80px; 
  position: relative;
  background-image: url(../img/grid-18px-masked.png);
  background-repeat: repeat-x;
  background-position: 0 40px;
}
@media screen and (max-width: 768px) {
    body { padding-top: 80px; 
    }
}


/* Definition lists (homepage)
------------------------------------------- */
.dl-horizontal dt{
  text-align: left;
  width: auto;
  padding-right: 1em;
}

.dl-horizontal dd{
  margin-left: 100px;
}

/* CV styling 
----------------------------------------------------*/

.cv {
  text-align: justify;         
}
.cv ul { 
  list-style: none;
}

